html, body{
	width: 100%;
	height: 100%;
	color:lightblue;
}
body{
	padding:30px;
	background-image:url(snowy.gif);
	background-repeat: no-repeat;
	background-position:center;
	position:absolute;

}
.text{
	font-size:35px;
	text-align:center;
	color:red;

}
.img {
    position: 
	height:25%;
	width:15%;
	position: relative;
	animation-duration:20s;
	animation-delay:0.2s;
	animation-direction: reverse;
	animation: img 2s infinite 2s;


}
@keyframes img{

0%{left:0px; top:0px;}	
25%{left:850px; top:0px;}	
50%{left:300px; top:450px}	
75%{left:0px; top:0px;}	
100%{left:0px; top:0px; }

 
}


